<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>RSA Number</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Account Number</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>BVN</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <hr class="divider">
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Middle Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address 1</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address 2</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>State</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <hr class="divider">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Mobile Number</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>DOB</label>
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
            <hr class="divider">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>ID Type</label>
                  <select class="form-control">
                    <option></option>
                    <option>International Passport</option>
                    <option>Driver's License</option>
                    <option>National ID</option>
                    <option>Permanent Voter's Card</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>ID Number</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Date Issued</label>
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <button class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
